.products-container {
    padding: 20px;
  }
  
  .products-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust as needed for your layout */
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .product-details {
    padding: 10px;
  }
  
  .product-name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .product-current-bid {
    font-size: 16px;
    color: #1c120d;
  }
  
  .product-bid-end {
    font-size: 14px;
    color: #9c6b4a;
  }
  